html {
  height: 100%;
}

body {
  background-color: #2d3436;
  background-image: linear-gradient(245deg, #2d3436 0%, #0000007a 74%);

  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
